{
  "cache": false,
  "exclude": [
    "build",
    "test"
  ],
  "extension": [
    ".ts"
  ],
  "report-dir": "./test/coverage",
  "temp-dir": "./test/coverage/.nyc_output",
  "reporter": [
    "text-summary",
    "html"
  ],
  "branches": 30,
  "lines": 30,
  "functions": 30,
  "statements": 30
}
